.hide {
    display: none
}

  body {
  background-color: white;
}
.container {
  place-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  max-width: 800px;
  padding: 30px 40px;
  margin-top: 2rem;
  background-color: #ffffff;
}

h1,
h2,
p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

/* Start Screen Stylings */
h1.quiz-title {
  font-weight: 700;
  font-style: italic;
  justify-content: center;
}
div.startContent {
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
}

header::after {
  content: " ";
  display: block;
  background: #e7e9eb;
  height: 3px;
  align-content: center;
}

button.btn {
  border: none;
  background-color: rgb(73, 149, 155);
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 16px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  max-width: 200px;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

/* Question Card Stylings */
#question-card {
  margin-bottom: 2rem;
  visibility: hidden;
}

#question-title {
  text-align: left;
  font-weight: 600;
}

.choice {
  border: none;
  background-color: hsl(295, 37%, 36%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  display: block;
  font-size: 22px;
  line-height: 22px;
  padding: 14px 10px 14px 10px;
  margin: 5px 0px 5px 0px;
}

#right-wrong {
  font-style: italic;
  visibility: hidden;
}

/* End of Quiz Screen */
#end-screen {
  margin-bottom: 2rem;
  visibility: hidden;
}

h3 {
  font-weight: 700;
}

div.endscreen.h5 {
  align-content: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

div.final-score {
  margin-top: 10px;
}

#score-submit {
  max-width: 150px;
  font-size: 18px;
  line-height: 18px;
  background-color:  hsl(295, 37%, 36%);;
}

/* Highscore Screen */
#high-score-screen {
  visibility: hidden;
}

#go-back, #clear-scores {
    border: none;
    background-color: hsl(295, 37%, 36%);;
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 16px;
    padding: 14px 18px;
    text-align: center;
    cursor: pointer;
    max-width: fit-content;
    margin-right: 1rem;
}

/* Responsiveness for smaller screens */
@media (max-width: 800px) {
  .container {
    width: 95%;
  }
  h1 {
    font-weight: 600;
    text-align: center;
  }
}